.project-btn {
    width: 100%;
    padding: 12px;
    background: #00ffd5;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.project-btn:hover {
    background: #00c2a3;
}

.project-content {
    display: none;
    margin-top: 10px;
    text-align: left;
}

pre {
    background: #0b0f19;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
    border: 1px solid #1f2a44;
}
